{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true href=(href-to "/")}}
      {{paper-icon "home"}}
    {{/paper-button}}
    <h2>
      ProPublica Congress API Explorer
    </h2>
    <span class="flex"></span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{outlet}}
